{{ partial "header.html" . }}
  <div class="container">
    {{ partial "logo.html" . }}
    <div class="row">
      <div class="sixteen columns hentry" id="article">
        <article>
          <h1 class='entry-title'>{{.Title}}</h1>
          <h2><div class='entry-summary'>{{.Params.summary}}</div></h2>
          <hr>
          <ul class="entry-meta">
            <li><strong>Read Time:</strong> {{.Params.read_in}}</li>
            <li><strong>Difficulty:</strong> {{.Params.difficulty}}</li>
            {{ if .Params.series }}
              {{ $series_name := index .Params.series 0 }}
            <li><strong>Series:</strong> {{$series_name}}</li>
            {{end}}
          </ul>
          <hr>
          <section class='article-content entry-content'>
            {{ .Content }}
          </section>
        </article>

        {{ partial "related.html" . }}

        {{ partial "recommended.html" . }}
      </div>
    </div>
  </div>
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ partial "footer.html" . }}
