        <div id="hcard-Jim-OKelly" class="vcard byline row remove-bottom">
          <div class="three columns alpha">
            <div class="photo-container">
              <a href="https://codementor.io/rubymentor"><img src="/images/jim_okelly.png" alt="Jim OKelly" class="photo" /></a>
            </div>
          </div>
          <div class="ten columns omega">
            <h2 class="main-title">
              HI! My name is
              <span class="fn n">
                <span class="given-name">Jim</span>
                <span class="family-name">OKelly</span></span>, and 
                I’m a <span class="role">Rubyist and a Technology Educator</span>.
              </span>
            </h2>
          </div>
        </div>
